{{#ifCond daysCount '!=' 0}}
<ul id="tabs" class="tabs primary z-depth-2">
    {{#each days as |tab|}}

    <li class="tab col">
        <a href="#tab{{tab.id}}" data-tabId="{{tab.id}}">
            {{tab.label}}
            <span class="badge {{#ifCond tab.manifCount '==' 0}}empty{{/ifCond}}">{{tab.manifCount}}</span>
        </a>
    </li>

    {{/each}}
</ul>

{{#each days as |tab|}}
<div id="tab{{this.id}}" class="tab-content col s12">
    <div class="cart-status-message cart-new">
        Votre liste de choix est en cours de validation. Vous ne pouvez plus modifier votre liste
    </div>
    <div class="cart-status-message cart-fulfilled">
        Votre liste de choix est validée. Vous ne pouvez pas modifier votre liste
    </div>
    <div class="cart-status-message cart-cancelled">
        Votre liste de choix est annulée. Vous ne pouvez plus modifier votre liste
    </div>
    <div class="cart-status-message cart-outdated">
        La date limite de choix est dépassée. Vous ne pouvez plus modifier votre liste
    </div>
    {{#issetClosingDate }}
        <div class="closingDateMessage">
            Clôture des choix le {{{renderChoicesClosingDate '[<b>]dddd DD MMMM YYYY[</b>]' }}}
        </div>
    {{/issetClosingDate }}
    <div id="periods">
        <ul id="period-list">

            {{#each tab.ts as |timeslot|}}

            <li class="period">
                <div class="period-label-container">
                    <p class="period-label center" data-target="events{{timeslot.id}}">
                        {{timeslot.name}} <i class="material-icons lock">lock</i>
                    </p>
                </div>
                <div id="events{{timeslot.id}}" class="events row">
                    <ul class="manifestations-list">

                        {{#each timeslot.manifestations as |manif|}}

                        <!-- EVENT not manif -->

                        <li class="row event notselectable cantSort" data-id="{{manif.id}}" id="event_{{manif.id}}">
                            <div class="event-time col s12 m4 center">
                                <span>
                                    {{{formatDate manif.startsAt '[<b>]HH[</b><sup>h</sup>]mm' }}}
                                    <i class="handle material-icons tiny">settings_ethernet</i>
                                    {{{formatDate manif.endsAt '[<b>]HH[</b><sup>h</sup>]mm' }}}
                                </span>
                            </div>
                            <div class="event-card card horizontal z-depth-1 col m8 s11 row">
                                <div class="event-image col s2 primary"
                                     {{#ifCond manif.event.imageURL 'not null'}}
                                     style="background-image:url({{config 'webservice.protocol'}}://{{config 'webservice.hostname'}}{{manif.event.imageURL}});background-size:cover;"
                                     {{/ifCond}}>
                                </div>
                                <div class="label col s5 selectable">
                                    <div class="event-label">
                                        {{manif.event.name}}
                                    </div>
                                    {{#if manif.event.description}}
                                    <div class="event-desc">
                                        {{{manif.event.description}}}
                                    </div>
                                    {{/if}}
                                </div>
                                <div class="presence valign-wrapper col s3">
                                    <a class="presence-btn btn neutral waves-effect waves-light flow-text">
                                        <i class="material-icons">add_circle_outline</i>
                                        <span>Participer</span>
                                    </a>
                                </div>
                                <div class="priority col s2 center valign-wrapper">
                                    <i class="handle material-icons">apps</i>
                                    <span class="priorityNumber"></span>
                                </div>
                            </div>
                        </li>

                        {{/each}}

                    </ul>
                </div>
            </li>

            {{/each}}

            <!-- -->

            {{#ifCond tab.manifCount '==' 0}}

            <li class="center-align">
                <div class="card-panel noEvents">
                    <i class="material-icons left">info_outline</i> Aucuns évènements pour ce jour
                </div>
            </li>

            {{/ifCond}}

        </ul>
    </div>
</div>
{{/each}}

<!-- CONFIRM FAB -->
<a id="confirm-fab" class="btn-floating btn-large waves-effect waves-light green lighten-1 z-depth-3">
    <i class="material-icons">check</i>
</a>
{{else}}
<div class="card-panel noEvents">
    <i class="material-icons left">info_outline</i> Aucuns évènements
</div>
{{/ifCond}}
