$primary-color: #009688; //Teal
$accent-color: #ffb74d; // Orange
$danger-color: #e57373; // red lighten-2
$info-color: #7986cb; // indigo lighten-2
$normal-color: #607d8b; // blue-grey
$body-bg: #FCFCFC;

// MATERIAL ICONS
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style : normal;
    font-weight: 400;
    src        : local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family               : 'Material Icons';
    font-weight               : normal;
    font-style                : normal;
    font-size                 : 24px;
    line-height               : 1;
    letter-spacing            : normal;
    text-transform            : none;
    display                   : inline-block;
    white-space               : nowrap;
    word-wrap                 : normal;
    direction                 : ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing   : grayscale;
}
// APP

body,
html {
    min-height: 100%;
}

html {
    /*background: transparent url("/img/bg.jpg") no-repeat scroll center center;*/
    /*background-size: cover;*/
    background: $body-bg;

    body {
        #mainLoader {
            z-index      : 999;
            opacity      : 1;
            position     : fixed;
            top          : 3em;
            left         : 50%;
            margin-left  : -29px;
            background   : #FFF;
            border-radius: 50%;
            border       : 3px solid #FFF;
            box-shadow   : 0 0 3px #999;
            transition   : opacity 0.5s ease;

            &.hidden {
                opacity: 0;
            }
        }
    }
}

#app {
    nav {
        .nav-wrapper {
            z-index: 998;
        }

        .brand-logo {
            padding-left: 0.5em;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        #userMenu {
            overflow: visible;
            right   : 0;
            left    : auto !important;
        }
    }
    // Funny hack to hide UI if not logged in
    &.loggedIn {
        .showIfLoggedIn {
            display: block;
        }

        .hideIfLoggedIn {
            display: none;
        }
    }

    &:not(.loggedIn) {
        .showIfLoggedIn {
            display: none;
        }

        .hideIfLoggedIn {
            display: block;
        }
    }

    &.loggedIn,
    &:not(.loggedIn) {
        handlebar-placeholder {
            display: block;
        }
    }
    .loginForm {
        max-width : 500px;
        margin-top: 25vh;
    }

    #main {
        .col {
            padding: 0;
        }
    }

    #sidebar {
        right    : 0;
        left     : inherit;
        transform: translateX(105%);
    }

    #tabs {
        height  : 6%;
        /*overflow: hidden;*/
        display: flex;
        flex-direction: row;
        box-shadow: none;

        .tab {
            height: 100%;
            width:auto;
            flex-grow: 1;

            .badge {
                color:$primary-color;
                background-color:white;
                border-radius: 0.2em;
                width: 1.5em;
                height: 1.5em;
                min-width: auto;
                float: none;
                font-weight:bold;

                &.empty {
                    opacity:0.4; 
                }
            }
        }

        .indicator {
            height          : 3px;
            background-color: $accent-color;
        }

        a {
            color: white;

            &:active,
                &:hover {
                color: $accent-color;
            }
        }
    }

    .tab-content {
        display: none;
    }

    #headers {
        margin-top: 20px;
    }

    #periods {
        .period {
            .period-label {
                color      : $primary-color;
                font-weight: bold;
                font-size  : 1.1em;
            }
        }
    }

    .events {
        .manifestations-list {
            .event {
                height      : 100px;
                margin-right: 10%;

                .event-card {
                    .label {
                        margin-right: 20px;
                    }

                    .presence {
                        justify-content: center;
                        .attend {
                            color:white;
                        }
                    }

                    .priority {
                        /*margin: auto;*/
                        cursor: default;
                        opacity:0.1;

                        i {
                            display: block;


                            &.handle {
                                /*margin   : -20px 0;*/
                                /*margin   : 0;*/
                                margin: 0 auto;
                                font-size: 2.2em;

                                opacity:0.4;
                            }

                            &.priority-down,
                            &.priority-up {
                                font-size: 2.9em;
                            }
                        }

                        &.disabled {
                            cursor: default;
                            opacity:0;
                            i {
                                display:none;
                            }
                        }

                        &:not(.disabled)::before {
                            content: '';
                            width:2px;
                            height:80%;
                            background:black;
                            opacity:0.05;
                            /*box-shadow:0 2px 4px #666;*/
                        }
                    }
                }

                .event-time {
                    line-height: 120px;
                }
            }
            &.active {
                .event {
                    .event-card {
                        .priority {
                            opacity:1;
                            cursor: move;
                        }
                    }
                }
            }
        }
    }


    #confirm-fab {
        position: fixed;
        bottom  : 50px;
        right   : 40px;
        width   : 56px;
    }

    .userProfileTable {
        tr {
            td {
                &:first-of-type {
                    text-align : right;
                    font-weight: bold;
                }

                .badge {
                    float: left;
                }
            }
        }
    }

    .btn-toolbar {}
}

#toast-container {
    top: 0;
    left: 25%;
    right: 25%;
    height: 0;
    padding-top: 3em;

    .toast {
        margin:0.5em auto;
        float: none;
        text-align: center;
        font-weight:bold;
        border-bottom-width:3px;
        border-bottom-style: solid;

        &.info {
            background: white;
            color: $info-color;
            border-bottom-color: $info-color;
        }
        &.warning {
            background: white;
            color: $accent-color;
            border-bottom-color:$accent-color ;
        }
        &.error {
            background: white;
            color: $danger-color;
            border-bottom-color:$danger-color ;
        }
        &.success {
            background: white;
            color: $primary-color;
            border-bottom-color: $primary-color;
        }
        &.default {
            background: white;
            color: $normal-color;
            border-bottom-color:$normal-color ;
        }
    }
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.notselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}

.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text; 
    -ms-user-select: text;
    user-select: text; 
}

.ghost {
    opacity:0;
}

.badge.red {
    color:white;
}