
<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/views
    RewriteRule ^(.*)$ index.php [QSA,L]

    RewriteRule ^(data/|actions\.php|README\.md|package\.json|gulpfile\.js|\.gitignore) - [F,L,NC]

    RewriteCond %{REQUEST_URI} !^views(.*)
    RewriteCond %{REQUEST_URI} !^js(.*)
    RewriteCond %{REQUEST_URI} !^css(.*)
    RewriteCond %{REQUEST_URI} !^img(.*)
    RewriteCond %{REQUEST_URI} !^fonts(.*)
    RewriteCond %{REQUEST_URI} !^$
    RewriteRule .* - [END]
</IfModule>