<div id="confirm-modal" class="modal bottom-sheet">
    <div class="modal-content center">
        <h4>Valider vos choix pour la semaine ?</h4>
        <div class="btn-toolbar row">
            <div class="col s6">
                <a id="save-btn" class="waves-effect waves-light btn green lighten-1">
                    <i class="material-icons left">check_circle</i>
                    oui
                </a>
            </div>
            <div class="col s6">
                <a id="cancel-btn" class="modal-close waves-effect waves-light btn primary">
                    <i class="material-icons right">cancel</i>
                    non
                </a>
            </div>
        </div>
    </div>
</div>
