<div class="row loginForm">
    <form class="col s12" id="loginForm">
        <div class="card">
            <div class="card-content">
                
                <div class="center">
                    <i class="material-icons large primary-text">person_pin_circle</i>
                </div>
                
                
                
                <div class="row">
                    <div class="input-field col s12">
                        <input id="user" type="text" class="validate" name="username">
                        <label for="user" data-error="Veuillez saisir un nom d'utilisateur">Utilisateur e-venement</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password" data-error="Veuillez saisir un mot de passe">Mot de passe</label>
                    </div>
                </div>
                <div class="row">
                    <div class="right">
                        <input type="checkbox" name="rememberMe" id="rememberMe"/>
                        <label for="rememberMe">Se souvenir de moi</label>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light primary btn-fullwidth" type="submit" name="action">Connexion
                    <i class="material-icons right">fingerprint</i>
                </button>
<!--                <a class="waves-effect waves-light btn primary right">Mot de passe oublié ?</a>-->
            </div>
        </div>
    </form>
</div>