<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo">{{applicationName}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="showIfLoggedIn">
                <a href="#" id="btn-logout" data-tooltip="Se déconnecter">
                    <i class="material-icons">exit_to_app</i>
                </a>
            </li>
            <li class="hideIfLoggedIn">
                <a href="#" id="btn-login" data-tooltip="Se connecter">
                    <i class="material-icons">fingerprint</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
