<div class="col s12 m7">
    <h2 class="header">
        {{user.firstName}} {{user.lastName}}
        <a href="javascript:;" data-go="showUserProfile" class="btn right">
            Annuler
            <i class="material-icons right">undo</i>
        </a>
    </h2>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <form data-ws="updateUser">
                    <table class="userProfileTable">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-field col s6">
                                        <input disabled placeholder="Email" id="email" type="text" class="validate" name="email" value="{{user.email}}">
                                        <label for="email">Email</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-field col s6">
                                        <input placeholder="Prénom" id="firstName" type="text" class="validate" name="firstName" value="{{user.firstName}}">
                                        <label for="firstName">Prénom</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="javascript:;" data-go="showUserProfile" class="btn right">
                                        Annuler
                                        <i class="material-icons right">undo</i>
                                    </a>
                                    <button class="btn waves-effect waves-light left" type="submit" name="action">
                                        Enregistrer
                                        <i class="material-icons right">check_circle</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
