<div class="col s12 m7">
    <h2 class="header primary-text">
        Modifier le mot de passe
    </h2>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <form data-ctrl="updatePassword">
                    <table class="userProfileTable">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="input-field col s6">
                                        <input placeholder="Nouveau mot de passe" id="password_1" type="password" class="validate" name="password_1" value="">
                                        <label for="password_1" data-error="Veuillez saisir un mot de passe">Nouveau mot de passe</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-field col s6">
                                        <input placeholder="Répéter le mot de passe" id="password_2" type="password" class="validate" name="password_2" value="">
                                        <label for="password_2" data-error="Veuillez saisir un mot de passe correspondant au premier">Répéter le mot de passe</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="javascript:;" data-go="showUserProfile" class="btn right primary">
                                        Annuler
                                        <i class="material-icons right">undo</i>
                                    </a>
                                    <button class="btn waves-effect waves-light left success" type="submit" name="action">
                                        Enregistrer
                                        <i class="material-icons right">check_circle</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
