<div class="col s12 m7">
    <h2 class="header primary-text">
        <i class="material-icons medium primary-text">person_pin_circle</i>

        {{user.firstName}} {{user.lastName}}
    </h2>

    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <table class="userProfileTable">
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Prénom</td>
                            <td>{{user.firstName}}</td>
                        </tr>
                        <tr>
                            <td>Nom</td>
                            <td>{{user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>Pseudo</td>
                            <td>{{user.shortName}}</td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td>{{user.address}}</td>
                        </tr>
                        <tr>
                            <td>Ville</td>
                            <td>{{user.city}}</td>
                        </tr>
                        <tr>
                            <td>Code postal</td>
                            <td>{{user.zip}}</td>
                        </tr>
                        <tr>
                            <td>Pays</td>
                            <td>{{user.country}}</td>
                        </tr>
                        <tr>
                            <td>Téléphone</td>
                            <td>{{user.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td>Lettre d'information ?</td>
                            <td>{{{ouiNon user.subscribedToNewsletter}}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn vertical click-to-toggle">
        <a class="btn-floating btn-large success" id="profileActionsButton">
            <i class="material-icons">mode_edit</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating primary" href="javascript:;" data-go="showSettings" data-tooltip="Paramètres" data-position="left">
                    <i class="material-icons">settings</i>
                </a>
            </li>

            <li>
                <a class="btn-floating success" href="javascript:;" data-go="editUserProfile" data-tooltip="Modifier le profil" data-position="left">
                    <i class="material-icons">person_pin</i>
                </a>
            </li>

            <li>
                <a class="btn-floating red" href="javascript:;" data-go="editUserPassword" data-tooltip="Modifier le mot de passe" data-position="left">
                    <i class="material-icons">vpn_key</i>
                </a>
            </li>
        </ul>
    </div>
</div>
