<div class="col s12 m7">
    <h2 class="header">
        {{user.firstName}} {{user.lastName}}

        <a href="javascript:;" data-go="editUserProfile" class="btn right">
            Modifier mon profil
            <i class="material-icons right">mode_edit</i>
        </a>
        <a href="javascript:;" data-go="editUserPassword" class="btn right">
            Modifier mon mot de passe
            <i class="material-icons right">vpn_key</i>
        </a>
    </h2>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <table class="userProfileTable">
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Prénom</td>
                            <td>{{user.firstName}}</td>
                        </tr>
                        <tr>
                            <td>Nom</td>
                            <td>{{user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>Pseudo</td>
                            <td>{{user.short}}</td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td>{{user.address}}</td>
                        </tr>
                        <tr>
                            <td>Ville</td>
                            <td>{{user.city}}</td>
                        </tr>
                        <tr>
                            <td>Code postal</td>
                            <td>{{user.zip}}</td>
                        </tr>
                        <tr>
                            <td>Pays</td>
                            <td>{{user.country}}</td>
                        </tr>
                        <tr>
                            <td>Téléphone</td>
                            <td>{{user.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td>Lettre d'information ?</td>
                            <td>{{{ouiNon user.subscribedToNewsletter}}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
