<!-- VALIDATE CART -->
<div id="info-validateCart" class="tap-target" data-activates="confirm-fab" data-openwhen="viewisloaded">
    <div class="tap-target-content">
        <h5>Validation de votre panier</h5>
        <p>Une fois vos choix arrêtés, pensez à valider ceux-ci en cliquant sur ce bouton</p>

        <button class="btn white primary-text understood">J'ai compris</button>
    </div>
</div>

<!-- EVENTS BUTTON -->
<div id="info-eventButton" class="tap-target" data-activates="showEventsButton" data-openwhen="mousehover">
    <div class="tap-target-content">
        <h5>Les évènements</h5>
        <p>En cliquant sur ce bouton, vous retournez vers la liste des évènements</p>

        <button class="btn white primary-text understood">J'ai compris</button>
    </div>
</div>

<!-- PROFILE BUTTON -->
<div id="info-profileButton" class="tap-target" data-activates="showProfileButton" data-openwhen="mousehover">
    <div class="tap-target-content">
        <h5>Votre profil</h5>
        <p>Vous pouvez modifier vos informations personnelles et changer votre mot de passe ici</p>

        <button class="btn white primary-text understood">J'ai compris</button>
    </div>
</div>

<!-- PROFILE EDIT / PASSWORD BUTTON -->
<div id="info-profileActionsButton" class="tap-target" data-activates="profileActionsButton" data-openwhen="mousehover">
    <div class="tap-target-content">
        <h5>Modifiez votre profil</h5>
        <p>Survollez ce bouton pour modifier vos informations personnelles ou votre mot de passe</p>

        <button class="btn white primary-text understood">J'ai compris</button>
    </div>
</div>
