<ul id="tabs" class="tabs teal z-depth-2">
    {{#each days as |tab|}}

    <li class="tab col">
        <a href="#tab{{tab.id}}" data-tabId="{{tab.id}}">
            {{tab.label}} {{tab.eventsNumber}} 
            <span class="badge {{#ifCond tab.manifCount '==' 0}}empty{{/ifCond}}">{{tab.manifCount}}</span>
        </a>
    </li>

    {{/each}}
</ul>

{{#each days as |tab|}}
<div id="tab{{this.id}}" class="tab-content col s12">
    <div id="headers" class="row center">
        <div id="time-header" class="col s4 header">
            <i class="material-icons">access_time</i>
            <p>Horaire</p>
        </div>
        <div id="event-header" class="col s4 header">
            <i class="material-icons">list</i>
            <p>Evenement</p>
        </div>
        <div id="priority" class="col s4 header">
            <i class="material-icons">sort</i>
            <p>Priorité</p>
        </div>
    </div>
    <div id="periods">
        <ul id="period-list">

            {{#each tab.ts as |timeslot|}}

            <li class="period">
                <p class="period-label center">
                    {{timeslot.title}}
                </p>
                <div id="events{{timeslot.id}}" class="events row">
                    <ul class="manifestations-list">

                        {{#each timeslot.manifestations as |manif|}}

                        <!-- EVENT not manif -->

                        <li class="row event notselectable" data-id="{{manif.id}}" data-eventOrder="{{manif.order}}">
                            <div class="event-time col s4 center">
                                <span>
                                    {{{formatDate manif.startsAt 'HH[h]mm' }}} - {{{formatDate manif.endsAt 'HH[h]mm' }}}
                                </span>
                            </div>
                            <div class="event-card card horizontal z-depth-1 col s8 row">
                                <div class="event-image col s2">
                                    <img src="img/samples/1.jpeg">
                                </div>
                                <div class="label col s5 valign-wrapper selectable">
                                    <p class="event-label">
                                        {{manif.event.translations.fr_FR.name}}
                                    </p>
                                </div>
                                <div class="presence valign-wrapper col s3">
                                    <a class="presence-btn btn blue waves-effect waves-light">Participer</a>
                                </div>
                                <!--<div class="priority col s2 center">
                                        <i class="priority-up material-icons">arrow_drop_up</i>
                                        <i class="handle material-icons">drag_handle</i>
                                        <i class="priority-down material-icons">arrow_drop_down</i>
                                    </div>-->
                                <div class="priority col s2 center valign-wrapper">
                                    <i class="handle material-icons">apps</i>
                                </div>
                            </div>
                        </li>

                        {{/each}}

                    </ul>
                </div>
            </li>

            {{/each}}

            {{#ifCond tab.manifCount '==' 0}}
            <li class="center-align">
                <div class="card-panel">
                    <i class="material-icons">info_outline</i>
                    Aucuns évènements pour ce jour
                </div>
            </li>
            {{/ifCond}}

        </ul>
    </div>
</div>
{{/each}}