{
    "debug": true,
    "applicationName":"My App",
    "user":   "TEST",
    "secret": "TESTSECRET",
    "appHostname": "http://yourlocalhostname.local",
    "appUriPrefix": "?/",
    "webservice": {
        "hostname": "your-domain.tld",
        "protocol": "https",
        "apiBaseUri": "/api"
    },
    "clientSessionName": "frontOnlineChoiceSession",
    "metaEventId": 1,
    "lang": "fr",
    "maximumEventsSelectedPerTimeslots": 3
}