{
    "applicationName":"My App",
    "user":   "TEST",
    "secret": "TESTSECRET",
    "appHostname": "http://yourlocalhostname.local",
    "webservice": {
        "hostname": "your-domain.tld",
        "protocol": "https",
        "apiBaseUri": "/api"
    },
    "clientSessionName": "frontOnlineChoiceSession"
}
